#carrinhoDireita {
    display: flex;
    justify-content: flex-end;
}

#containerCarrinho{
position: fixed;
flex-direction: row; 
width: 400px;
height: 600px;
background-color: rgb(201, 115, 115);
margin-top: -100px;
}

.cartHead{
    display: flex;
    flex-direction: column;
}

.cartItens{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.imgItem{
    display: flex;
    margin: 0px auto;
    border-radius: 20px;
    padding: 10px 10px 0px 10px;
    width: 40px;
    height: 40px;
}