#carrinhoDireita.carrinho {
    display: flex;
    justify-content: flex-end;
    visibility: hidden;
}

#carrinhoDireita.visible {
    visibility: visible;
}

#containerCarrinho {
    position: fixed;
    display: flex;
    flex-direction: column; /* Organiza os itens na vertical */
    width: 25vw;
    max-height: 60vh;  /* Altura máxima do carrinho (ajuste conforme necessário) */
    /* height: 100%; Permite que o carrinho ocupe toda a altura disponível até a altura máxima */
    background-color: rgba(28, 49, 184, 0.902);
    overflow-y: auto;  /* Habilita o scroll quando o conteúdo ultrapassar o tamanho */
    text-align: justify;
    border-radius: 10px; /* Se desejar bordas arredondadas */
    margin-top: 105.3px;  /* da espaçamento do tamanho da altura do menu nav */
}

.carrinhoHeader {
    display: flex;
    height: 60px; /* Definindo uma altura fixa para o cabeçalho */
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(to right, #00ffff, #0080ff);
}

.carrinhoFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    background: linear-gradient(to right, #7209b7, #f72585);
    padding: 10px;
    /* A altura do footer será ajustada conforme necessário */
    margin-top: auto; /* Isso faz com que o footer fique no fundo da div */
}

.containeritens {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; /* Caso os itens ultrapassem, a rolagem também será ativada aqui */
    padding: 10px;
}

.listaitem:hover {
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.listaitem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    background-color: rgb(145, 223, 237); /* Pastel blue for each item */
    margin: 10px;
    border-radius: 30px;
    width: 90%;  /* Ajuste conforme necessário */
    font-size: 1.6rem;
}

/* Imagem do jogo */
.imagemJogoCart img {
    width: 90px;
    height: 90px;
    object-fit: cover; /* Ajusta a imagem para o tamanho do contêiner */
    margin: 10px;
    border-radius: 20px;
}

.trashIcon {
    margin-right: 30px;
    color: blue;
}

.lixeiraTudo {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    color: red;
}



@media (max-width: 1920px) {
    #containerCarrinho{
        width: 20vw;
        max-height: 50vh; 
    }
}

@media (max-width: 1440px) {
    #containerCarrinho{
        width: 25vw;
        max-height: 70vh; 
    }
}
@media (max-width: 1366px) {
    /* Estilos para telas de até 1280px */
    #containerCarrinho{
        width: 30vw;
        max-height: 55vh; 
    }
}


@media (max-width: 1280px) {
    #containerCarrinho{
        width: 30vw;
        max-height: 55vh; 
    }
}

@media (max-width: 1024px) {
    #containerCarrinho{
        width: 35vw;
        max-height: 60vh; 
    }
}

@media (max-width: 900px) {
    #containerCarrinho{
        width: 45vw;
        max-height: 60vh; 
    }
}

@media (max-width: 768px) {
    #containerCarrinho{
        width: 45vw;
        max-height: 60vh; 
    }

    #CarrinhoDireita{
        justify-content: flex-end;
    }

    
    .carrinhoHeader {
        font-size: 1.5rem; /* Diminui o tamanho da fonte no cabeçalho */
    }

    .carrinhoFooter {
        font-size: 1.2rem; /* Diminui o tamanho da fonte no rodapé */
    }
}


@media (max-width: 700) {
    #containerCarrinho{
        width: 45vw;
        max-height: 60vh; 
    }
}

@media (max-width: 660) {
    #containerCarrinho{
        width: 70vw;
        max-height: 60vh; 
    }
}

@media (max-width: 627) {
    #containerCarrinho{
        width: 70vw;
        max-height: 60vh; 
    }

    #CarrinhoDireita{
        margin-top: 518px;
    }
}


@media (max-width: 472px) {
    
    #CarrinhoDireita{
        justify-content: flex-end;
    }


    #containerCarrinho {
        max-height: 60vh; 
        margin-top: 238px;
    }

    .carrinhoHeader {
        font-size: 1.2rem; 
    }

    .carrinhoFooter {
        font-size: 1rem; 
    }
}


@media (max-width: 320px) {
    #CarrinhoDireita{
        justify-content: flex-end;
    }


    #containerCarrinho {
        max-height: 50vh; 
        
    }

    .carrinhoHeader {
        font-size: 1.2rem; 
    }

    .carrinhoFooter {
        font-size: 1rem; 
    }
}
