#carrinhoDireita.carrinho {
    margin-top: 105.3px !important;
    display: flex; 
    justify-content: flex-end;
    visibility: hidden;   
}


#carrinhoDireita.visible {
      visibility: visible;
}

#containerCarrinho{
position: fixed;
flex-direction: row; 
width: 500px;
height: auto;
/* margin-top: 105px; */
/* background: linear-gradient(145deg, #ff77ff, #00eaff); */
background: white;

}
.carrinhoHeader{
    display: flex;
    height: 10%;
    margin: 5px;
    font-size: 2.5rem;
    justify-content: center;
    align-items: center;
    color: white;
}


.carrinhoFooter{
    display: flex;
    height: 10%;
    margin: 5px;
    font-size: 2.5rem; 
    justify-content: center;
    align-items: center;
    color: white;
    background-color: red;
    margin-top: 24rem;
    bottom: 0;

}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 150px;
    background-color: aqua;
    margin: 10px;
    border-radius: 30px;
}

.item img {
    width: 90px;
}

.imagemJogoCart{
    margin-left: 20px;
}

.nomeJogoCart{
    margin-left: 25px;
    font-size: 1.5rem;
}

.trashIcon{
    margin-right: 30px;
    color: red;
}