@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


footer{
    width: 100%; /* Certifica-se de que o footer ocupe toda a largura */
    text-align: center;
    margin-top: auto; /* Isso faz com que o footer fique no fundo da div */
}


.footer {
    background: rgba(0, 0, 0, 0.8);
    color: #00ffff;
    padding: 2rem 0px;
    font-family: 'VT323', monospace;
    
}

.footer-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.footer-logo {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.footer-nav a {
    color: #00ffff;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.footer-nav a:hover {
    color: #ff00ff;
    border-color: #ff00ff;
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff;
}

.footer-copyright {
    font-size: 1rem;
    text-align: center;
}


/* Footer para dispositivos pequenos */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column; /* Empilha os itens verticalmente */
        align-items: center; /* Centraliza os itens */
    }

    .footer-logo {
        font-size: 1.5rem; /* Ajuste do tamanho da logo */
    }

    .footer-nav {
        gap: 1rem; /* Espaço maior entre os links */
    }

    .footer-nav a {
        font-size: 1rem; /* Ajuste do tamanho da fonte dos links */
    }
}

/* Footer para dispositivos muito pequenos */
@media (max-width: 480px) {
    .footer-content {
        padding: 1rem; /* Ajusta o padding */
    }

    .footer-logo {
        font-size: 1.2rem; /* Reduz o tamanho da logo */
    }

    .footer-nav a {
        font-size: 0.9rem; /* Reduz o tamanho dos links */
    }

    .footer-copyright {
        font-size: 0.8rem; /* Ajuste da fonte para o copyright */
    }
}

