@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body{
    font-family: 'VT323', monospace;
    background: linear-gradient(45deg, #ff6ad5, #c774e8, #ad8cff, #7aecec);
    background-size: 400% 400%;
    animation: FundoGradiente 15s ease infinite;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
            
}

@keyframes FundoGradiente {
0% { background-position: 0% 50%; }
50% { background-position: 100% 50%; }
100% { background-position: 0% 50%; }
}

.container{
    background-color: rgba(0, 0, 0, 0.7);
    border: 3px solid rgba(231, 14, 14, 0.986);
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 0 20px #ff00ff, 0 0 30px #00ffff, 0 0 40px #ff00ff;
    transition: all 0.3s ease;
    padding: 40px;
}
.container:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px #ff00ff, 0 0 35px #00ffff, 0 0 45px #ff00ff;
}
    
h1{
    text-align: center;
    color: #00ffff;
    font-size: 2.5em;
    text-shadow: 3px 3px #ff00ff;
    animation: PiscaPisca 1.5s infinite alternate;
    margin-bottom: 20px;
}


    @keyframes PiscaPisca {
        0%, 15%, 25%, 35%, 55%, 75%, 100% {
            text-shadow: 3px 3px #ff00ff, 0 0 5px #ff00ff, 0 0 15px #ff00ff;
        }
        20%, 30%, 60% {
            text-shadow: none;
        }
    }

    form{
        display: flex;
        flex-direction: column;
   }

   input{
    padding: 10px;
    border: 2px solid #ff00ff;
    color: #ffffff;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 1em;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.1);
   }

   input:focus {
        outline: none;
        border-color: #00ffff;
        box-shadow: 0 0 10px #00ffff;
    }


  
    label {
        margin-bottom: 5px;
        color: #ff00ff;
   }

   img{
    width: 60px;
    height: 60px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
   }

   button{
    font-family: 'VT323', monospace;
    font-size: 1.2rem;
    color: #ffffff;
    padding: 10px;
    background-color: #ff00ff;
    cursor: pointer;
    overflow: hidden;
   }

   button:hover{
    background-color: #00ffff;
    color: black;
    text-transform:uppercase;
    box-shadow: 0 0 15px #00ffff;
   
   }

.voltar {
    text-align: center;
    margin-top: 15px;
    font-size: 1.2rem;
}

.voltar a {
    color: #00ffff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.voltar a:hover {
    color: #ff00ff;
    text-shadow: 0 0 5px #ff00ff;
}

@keyframes glitch {
    0% { transform: translate(0) }
    20% { transform: translate(-5px, 5px) }
    40% { transform: translate(-5px, -5px) }
    60% { transform: translate(5px, 5px) }
    80% { transform: translate(5px, -5px) }
    100% { transform: translate(0) }
}

.glitch {
    animation: glitch 0.3s infinite;
}

.error {
    color: #ff00ff;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 0.9em;
}

