main{

    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 100px;
    flex: 1;
}


.divisoria1, .divisoria2{
    margin-top: 10px;
    height: 40vh;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.divisoria1{
background-color: #FF6AD5;
border: 1px solid blue;

}

.divisoria2{
background-color: #C774E8;
border: 1px solid whitesmoke;
}


.card{
    color: black;
    background-color: white;
    border: 4px solid ;
    height: 240px;
    width: 20%;
    transition: width 0.3s ease; /* Transição suave ao redimensionar */
}

.cardImage{
    width: 100%; /* Faz a imagem ocupar 100% da largura da div */
    height: auto; /* Mantém a proporção original da imagem */
    display: block; /* Remove espaços brancos em imagens inline */
}

.cardFooter, i{
    display: inline;
    flex-direction: column;
}

.descricao{
    font-size: 1rem;

}
.apartir{
 
    color: grey;
    font-size: 20px;
    display: inline;
}
.valor{
    display: inline;
    font-size: 1rem;
}



