/* main {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    row-gap: 20px;

} */


/* .divisoria1,
.divisoria2 {
    margin-top: 10px;
    height: 40vh;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden; /*
   /* white-space: nowrap; /*

} */
main{
    margin-top: 100px;
    min-height: calc(100vh - 200px); /* Subtraia a altura do footer */
    padding-bottom: 2rem; /* Adicione um padding para dar espaço ao footer */
}

.container, .container2{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding: 20px;
    gap: 50px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    height: auto;
    box-sizing: border-box;
    overflow-x: auto; 
    scroll-behavior: smooth;
    white-space: nowrap;
}



.container{
    background-color: #FF6AD5;
    border: 1px solid blue;

}

.container2{
    background-color: #C774E8;
    border: 1px solid whitesmoke;
}

::-webkit-scrollbar {
    width: 12px; 
    height: 12px; 
}

/* Estiliza o fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px; 
}

/* Estiliza o botão deslizante (thumb) */
::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px; 
    border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.card{
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: linear-gradient(135deg, #9b6fd1, #f9b3d1, #ff77d1, #4dd0e1, #a1f9e2);
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    width: 270px;
    height: 340px;
}

.imgJogo .img{
    display: flex;
    margin: 0px auto;
    border-radius: 20px;
    padding: 10px 10px 0px 10px;
    width: 250px;
    height: 200px;
}

.infoJogo{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    
}

.iconeVoltar{
    display: flex;
    max-width: 100%;
    margin-left: 10px;
}

.nomeJogo{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}
.nomeJogo p{
    margin-top: 11px;
    font-size: 1.2rem;
    font-weight: 700;
}

.infoJogo .fa-brands ,.fa-solid{
    margin-top: 10px;
    margin-left: 13px;
    font-size: 1.5rem;
}

.fa-playstation{
    color:blue
}

.fa-xbox{
    color: green;
}

.fa-steam{
    color: #455A64;
}

.precoJogo{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;   
}

.precoJogo p{
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 700;
}
.precoAntigo{
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: line-through;
}

.btnComprar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    width: 90%;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5), inset 0 0 10px #ff77ff, inset 0 0 20px #00eaff;
    background: linear-gradient(145deg, #ff77ff, #00eaff);
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
}

button .fas{ /*Botao do icon de carrinho */
    margin-right: 10px;
    font-size: 20px;
}

.btnComprar:hover{
 transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8), inset 0 0 20px #ff77ff, inset 0 0 30px #00eaff;
    cursor: pointer;
}


