@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


#header {
    /* margin-bottom: 100px; */
    top: 0;
    width: 100%;
   
}
nav {
    background: rgba(0, 0, 0, 0.8);
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.fa-cart-shopping{
    cursor: pointer;
    color: green;    
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 70px;
    position: sticky;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 70px;
}

/* Exibe o ícone do hambúrguer em telas pequenas */
.hamburguer {
    display: none; /* Escondido por padrão */
    cursor: pointer;
    font-size: 30px;
    color: white;
}

.logo {
    margin-right: 10rem; /* Ajuste a margem conforme necessário */
}

.logo img {
    max-width: 70px; /* Ajuste o tamanho conforme necessário */
    height: auto;
}


ul.nav-menu {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

ul.nav-menu li {
    margin: 0 1rem; /* Ajuste a margem conforme necessário */
}


li {
    margin: 0.5rem;
}



.nav-menu>li > a {
    color: #00ffff;
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

a:hover {
    color: #ff00ff;
    border-color: #ff00ff;
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff;
    box-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff;
}

#item-count {
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
    min-width: 20px;
    text-align: center;
}




/* Navbar para dispositivos pequenos */

@media (max-width: 768px) {
    /* Esconde os links de navegação padrão */
    .nav-menu {
        display: none; /* Esconde o menu inicialmente */
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    /* Exibe o ícone do hambúrguer */
    .hamburguer {
        display: block;
    }

    /* Exibe o menu quando a classe 'active' for adicionada */
    .nav-menu.active {
        display: flex; /* Torna o menu visível */
    }

    /* Estiliza os itens do menu */
    .nav-menu li {
        margin: 10px 0;
    }
}