*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    height: 100%;
    margin: 0;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
    background: linear-gradient(to right, #ff6ad5, #c774e8, #ad8cff);
}

form input{
    background-color: aliceblue;
    height: 25px;
    margin: 0 auto;
}
form label{
    font-size: 20px;
    color: black;
}

input.botao{
    border-radius: 10px;
    padding: 5px 40px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.8);

}

input.botao:hover{
    background-color: blue;
    color:white;
}

.buttons{
    background-color: red;
    color:white;
    font-weight: bold;
    border-radius: 10px;
    font-size:10px;
    margin: 0 auto;
    display: block;
}



