*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
    background: linear-gradient(80deg, #ff6ad5, #c774e8, #ad8cff, #7aecec);
    animation: gradientBG 12s ease infinite;        
    
}


@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}