
<header>
    <nav>
            
        <div class="nav-links">
            <div class="logo">
                <img src="/images/GXLogo.jpg" alt="Logo GX">
            </div>
            <ul class="nav-links">
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/public/ofertas.html">Ofertas</a></li>
                <li><a href="/public/xbox.html">Xbox</a></li>
                <li><a href="/public/psn.html">PSN</a></li>
                <li><a href="/public/PC.html">PC</a></li>
            </ul>

        </div>  

    </nav>
</header>